$max-icon-width: 1em;
$padding-top-nav: 10px 16px;
$padding-top-nav-item: 4px;
$padding-top-dropdown-icon: 10px 15px 10px 10px;

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: $padding-top-nav;
    border-bottom: $border-thin solid $color-grey-form-color;

    .nav-item {
        list-style: none;
        margin: auto;
        padding: $padding-top-nav-item;
    }

    .dropdown {
        border: $border-thin solid $grey-color;
        border-radius: $border-radius-large;
        padding: $padding-top-dropdown-icon;
    }

    .img {
        max-width: $max-icon-width;
    }

    .left-hand-side {
    }

    .right-hand-side {
        display: flex;
        justify-content: space-between;
    }
}
