// Define basic colors
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #dddddd;
$color-grey-form-color: #e9ecef;

// Define primary colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$primary-bg-color: #ffff;
$primary-dark-text: #000;

// Responseive Design

// Define breakpoints for responsive design
$breakpoint-small: 576px; // Mobile devices
$breakpoint-small-minus-one: 575px; // Mobile devices
$breakpoint-medium: 768px; // Tablets
$breakpoint-medium-minus-one: 767px; // Tablets
$breakpoint-large: 992px; // Desktops
$breakpoint-large-minus-one: 991px; // Desktops

.custom-icons {
    display: inline-block;
    font: normal normal normal 1em/1 "Nucleo";
    vertical-align: middle;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Border sizes
$border-thin: 1px;
$border-medium: 2px;
$border-thick: 4px;

// Border radius values
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

// Define media query mixins for each breakpoint
@mixin media-small {
    @media (max-width: $breakpoint-small-minus-one) {
        @content;
    }
}

@mixin media-medium {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium-minus-one) {
        @content;
    }
}

@mixin media-large {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large-minus-one) {
        @content;
    }
}

@mixin media-xlarge {
    @media (min-width: $breakpoint-large) {
        @content;
    }
}
