@import "variables";

$button-padding: 10px 20px;
$button-border-width: 1px;
$button-border-radius: 4px;
$button-text-size: 14px;

button {
    padding: $button-padding;
    border: $button-border-width solid $primary-color;
    color: $primary-dark-text;
    background-color: $primary-bg-color;
    border-radius: $button-border-radius;
    font-size: $button-text-size;
    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
    }

    &.primary {
        background-color: $primary-color;
        color: $primary-bg-color;
    }

    &.primary-outline {
        border: $button-border-width solid $primary-color;
        color: $primary-color;
    }

    &.danger {
        background-color: $danger-color;
        color: $primary-bg-color;
    }

    &.danger-outline {
        border: $button-border-width solid $danger-color;
        color: $danger-color;
    }

    &.success {
        background-color: $success-color;
        color: $primary-bg-color;
    }

    &.success-outline {
        border: $button-border-width solid $success-color;
        color: $success-color;
    }

    &.info {
        background-color: $info-color;
        color: $primary-bg-color;
    }
    
    &.info-outline {
        border: $button-border-width solid $info-color;
        color: $info-color;
    }
}
