$editor-padding: 4px;
$editor-margin: 0 auto 5rem auto;

$editor-footer-padding: 10px;
$editor-footer-margin-top: 36px;

$editor-content-padding: 1em;
$editor-content-border-radius: 15px;

$editor-header-font-size: 24px;
$editor-header-font-weight: 300;

$code-font-size: 0.8rem;
$code-font-weight: bold;

$code-background-color: rgba($color-black, 0.1);
$code-color: rgba($color-black, 0.8);

$editor-pre-margin: 0.7rem 1rem;
$editor-pre-radius: 5px;

$editor-code-margin: 0.2rem 0.4rem;
$editor-code-radius: 5px;

$editor-block-quote-color: rgba($color-black, 0.8);
$editor-block-quote-padding-left: rgba($color-black, 0.8);

$editor-cell-border: 2px solid $color-grey;
$editor-cell-padding: 3px 5px;
$editor-cell-selected: rgba(200, 200, 255, 0.4);

.editor {
  position: relative;
  margin: $editor-margin;
  background-color: $color-white;
  padding: $editor-padding;

  .editor-header {
    font-size: $editor-header-font-size;
    font-weight: $editor-header-font-weight;
  }

  .editor-footer {
    display: flex;
    justify-content: end;
    margin-top: $editor-footer-margin-top;
    padding: $editor-footer-padding;
  }

  &__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    background: $color-form-grey;
    padding: $editor-content-padding;
    border-radius: $editor-content-border-radius;

    * {
      caret-color: currentColor;
    }

    pre {
      padding: $editor-pre-margin;
      border-radius: $editor-pre-radius;
      background: $color-black;
      color: $color-white;
      font-size: $code-font-size;
      overflow-x: auto;

      code {
        display: block;
      }
    }

    p code {
      padding: $editor-code-margin;
      border-radius: $editor-code-radius;
      font-size: $code-font-size;
      font-weight: $code-font-weight;
      background: $code-background-color;
      color: $code-color;
    }

    ul,
    ol {
      padding-left: 1rem;
    }

    li > p,
    li > ol,
    li > ul {
      margin: 0;
    }

    a {
      color: inherit;
    }

    blockquote {
      border-left: 3px solid rgba($color-black, 0.1);
      color: $editor-block-quote-color;
      padding-left: $editor-block-quote-padding-left;
      font-style: italic;

      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
      border-radius: 3px;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;

      td,
      th {
        min-width: 1em;
        border: $editor-cell-border;
        padding: $editor-cell-padding;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        > * {
          margin-bottom: 0;
        }
      }

      th {
        font-weight: bold;
        text-align: left;
      }

      .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $editor-cell-selected;
        pointer-events: none;
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 4px;
        z-index: 20;
        background-color: #adf;
        pointer-events: none;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      overflow-x: auto;
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }
  }
}
