// Spacing
$menububble-padding: 0.3rem;
$menububble-margin-bottom: 0.5rem;
$menububble-button-padding: 0.2rem 0.5rem;
$menububble-button-margin-right: 0.2rem;
$menububble-button-radius: 3px;

// Font
$menububble-font: inherit;

// Transitions
$menububble-transition: opacity 0.2s, visibility 0.2s;

// Border
$menububble-border-radius: 5px;
$menububble-border: none;

// Other
$menububble-cursor: pointer;

.menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: $color-black;
  border-radius: $menububble-border-radius;
  padding: $menububble-padding;
  margin-bottom: $menububble-margin-bottom;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: $menububble-transition;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: inline-flex;
    background: transparent;
    border: $menububble-border;
    color: $color-white;
    padding: $menububble-button-padding;
    margin-right: $menububble-button-margin-right;
    border-radius: $menububble-button-radius;
    cursor: $menububble-cursor;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba($color-white, 0.1);
    }

    &.is-active {
      background-color: rgba($color-white, 0.2);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    font: $menububble-font;
    border: $menububble-border;
    background: transparent;
    color: $color-white;
  }
}
